.DS_Store
*.pyc
.vscode/*
log
wandb
*.svmlight
*.data
*.csv
*.mat
*.gz
data/*
docs/_build/*
.flake8
test/.coverage
.coverage
repr_results
dist/*
fluke_fl.egg-info
tests/data
tutorials/data
docs/examples/tutorials/data