data/
tests/data/
docs/_build/
.pytest_cache/
__pycache__/
dist/
wandb/
tmp/
.DS_Store
.coverage
.venv
*.pth
.flake8
fluke_fl.egg-info/
tests/*.ipynb
runs/
repr_results/
checkpoint*/
chk_*
.vscode/launch.json
